<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>充值</title>
</head>
<body>
    <div class="add_money">
    {% if user %}
        <p>
            账户余额为： {{ user.money }}
        </p>
        <form method="POST" action="/product/add_money/{{ user.username }}">
        <p>
            充值金额：<input type="text" name="money">
        </p>
        <p>
            <input type="submit" value="充值" placeholder="元">
            <a href="/product/change_info/{{ user.username }}">返回</a>
        </p>
        <p>
            {{ info }}
        </p>
        {% csrf_token %}
        </form>

    {% endif %}

    </div>
</body>
</html>