<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
</head>
<body>
<div class="change_password">
    {% if user %}
        <form method="POST" action="/product/change_password/{{ user.username }}">
        <p>
            用户名：{{ user.username }}
        </p>
        <p>
            原密码:<input type="password" name="old_password">
        </p>
        <p>
            新密码:<input type="password" name="password_1">
        </p>
        <p>
            新密码:<input type="password" name="password_2">
        </p>
        <p>
            <input type="submit" value="提交修改">
            <a href="/product/change_info/{{ user.username }}">返回</a>
        </p>
        <p>
            {{ info }}
        </p>
        {% csrf_token %}
        </form>

    {% endif %}
</body>
</html>