<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改信息</title>
</head>
<body>
    <div class="user_info">
    {% if user %}
        <form method="POST" action="/product/change_info/{{ user.username }}">
        <p>
            用户名:<input value="{{ user.username }}" name="username">
        </p>
        <p>
            电子邮箱:<input value="{{ user.email }}" name="email">
        </p>
        <p>
            账户余额:{{ user.money }}
            <a href="/product/add_money/{{ user.username }}">充值</a>
        </p>
        <p>
            <a href="/product/order">查看购物车</a>
            <a href="/product/change_password/{{ user.username }}">修改密码</a>
            <a href="/product/quit_login/{{ user.username }}">注销</a>
        </p>
        <p>
            <input type="submit" value="提交修改">
            <a href="/product/all">返回商品列表</a>
        </p>
        <p>
            {{ info }}
        </p>
        {% csrf_token %}
        </form>

    {% endif %}

    </div>
</body>
</html>