<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>零售B2C</title>
    <link rel="stylesheet" href="../../../static/css/product.css">
    <script src="../../../static/js/jquery-1.11.3.min.js"></script>
    <script src="../../../static/js/jquery.slides.min.js"></script>
    <script src="../../../static/js/jquery.SuperSlide.2.1.1.js"></script>
    <style>

    </style>
</head>

<body>
    <div class="header"></div>

    <div class="floor01">
        <div class="container">
            <div class="container_title">
                <p class="title">
                    什么是B2C商城
                </p>
            </div>
            <img src="../../../static/images/b2c_img.jpg" alt="">
            <img src="../../../static/images/p_top.png" alt="">
            <ul class="floor01_text">
                <li>
                    LecShop商城系统（B2C）以移动互联网时代消费者驱动业务为核心，充分满足企业在线销售及业务增长的中高端电子商务销售平台。采用JAVA技术进行分层开发，选用目前主流的MVC开发方式，配套微信商城、APP商城移动前端，丰富的互动营销功能，精细化的用户运营，充分挖掘巨大移动电商市场潜力。
                </li>
            </ul>
        </div>
    </div>

    <div class="floor02">
        <div class="container">
            <div class="container_title">
                <p class="title">
                    LecShop三大王牌功能
                </p>
            </div>
            <ul class="pic_list">
                <li>
                    <img src="../../../static/images/adv_05.png" alt="">
                    <p>可视化编辑</p>
                    <span>通过可视化的编辑，让用户在编辑模板的时候有更直观的感觉，更好的用户体验。同时系统预设了各种各样的基础模板，您可以用系统预设的模板，配置出市面上各种行业的的模板。
                    </span>
                </li>
                <li>
                    <img src="../../../static/images/adv_03.png" alt="">
                    <p>自营加盟门店</p>
                    <span>提供调用百度地图标识加盟门店或者直营门店，购买者可以查看同一个商品在哪些门店有售卖，消费者可以通过预约到对应的门店进行购买。
                    </span>
                </li>
                <li>
                    <img src="../../../static/images/adv_04.png" alt="">
                    <p>16种强大促销</p>
                    <span>管理员可以创建各类型的促销活动，如团购，限时折扣，满即送,平台红包等不同的活动，商家会员可以根据不同节日或产品报名参加活动，管理员审核通过后商家可以使用该活动并在前台展示。
                    </span>
                </li>
            </ul>
        </div>
    </div>

    <div class="floor03">
        <div class="container">
            <div class="floor_title">
                <p class="title">热门功能</p>
            </div>
            <div class="content">
                <div class="b_box">
                    <div class="images">
                        <img src="../../../static/images/fl04_1.png" alt="">
                        <em>商品</em>
                    </div>
                    <div class="text">
                        <p>
                            商品属于商城系统中最基础的元素，商品功能中主要方便运营管理，LecShop商品功能六大管理体系，为商城打下坚实的管理基础
                        </p>
                        <ul>
                            <li>商品管理</li>
                            <li>分类管理</li>
                            <li>品牌管理</li>
                            <li>类型管理</li>
                            <li>评论管理</li>
                        </ul>
                    </div>
                </div>
                <div class="b_box">
                    <div class="images">
                        <img src="../../../static/images/fl04_3.png" alt="">
                        <em>交易</em>
                    </div>
                    <div class="text">
                        <p>网上和网下相结合，充分解决了订单管理、在线结算、物流等电子商务的瓶颈问题，打造了国内前沿的交易流程，保障了商品交易的便捷性与安全性。</p>
                        <ul>
                            <li>订单管理</li>
                            <li>退款处理</li>
                            <li>退货处理</li>
                            <li>交易评价</li>
                            <li>交易投诉</li>
                            <li>支付方式</li>
                            <li>快速单模板</li>
                            <li>交易设置</li>
                        </ul>
                    </div>
                </div>
                <div class="b_box">
                    <div class="images">
                        <img src="../../../static/images/fl04_4.png" alt="">
                        <em>会员</em>
                    </div>
                    <div class="text">
                        <p>为会员设置不同的标签，按不同会员积分给予会员奖励，灵活的会员价格体系，在保证商品利润的同时，又能让会员体现出尊享的感觉。</p>
                        <ul>
                            <li>会员管理</li>
                            <li>会员营销</li>
                            <li>会员积分</li>
                            <li>积分规则</li>
                            <li>会员等级</li>
                            <li>信任等级</li>
                            <li>会员咨询</li>
                            <li>会员投诉</li>
                        </ul>
                    </div>
                </div>
                <div class="b_box">
                    <div class="images">
                        <img src="    ../../../static/images/fl04_5.png" alt="">
                        <em>分销</em>
                    </div>
                    <div class="text">
                        <p>消费者在分销市场一键转发商品，平台自由设置分销推广体系，销售商品的同时给平台带来无限的客流量，实现平台商家共赢。</p>
                        <ul>
                            <li>分销市场管理</li>
                            <li>销售员管理</li>
                            <li>分销首页设计</li>
                            <li>分销业绩管理</li>
                        </ul>
                    </div>
                </div>
                <div class="b_box">
                    <div class="images">
                        <img src="    ../../../static/images/fl04_6.png" alt="">
                        <em>网站</em>
                    </div>
                    <div class="text">
                        <p>能为商城进行可视化编辑，以及更改商城主题色，便于商城UI管理。还可以进行文章的管理分类，以便了解商城最新动态。</p>
                        <ul>
                            <li>页面设置</li>
                            <li>模板管理</li>
                            <li>文章管理</li>
                            <li>单页管理</li>
                            <li>帮助信息</li>
                            <li>友情链接</li>
                        </ul>
                    </div>
                </div>
                <div class="b_box">
                    <div class="images">
                        <img src="    ../../../static/images/fl04_7.png" alt="">
                        <em>统计</em>
                    </div>
                    <div class="text">
                        <p>帮助每一个卖家了解自身店铺状况，对数据的分布状态、数字特征和随机变量之间关系进行估计和统计，查看店铺的问题所在，深入了解自己的店铺以便作出正确决策。</p>
                        <ul>
                            <li>会员统计</li>
                            <li>店铺统计</li>
                            <li>销量分析</li>
                        </ul>
                    </div>
                </div>
                <div class="b_box" style="height:320px;">
                    <div class="images">
                        <img src="    ../../../static/images/fl04_8.png" alt="">
                        <em>营销</em>
                    </div>
                    <div class="text">
                        <p>营销成为了商城吸引客户，刺激购买的重要环节，LecShop为平台设置了多种营销模式，能带来大量的用户流量，有效刺激消费者的欲望，为商城带来众多盈利空间。</p>
                        <ul>
                            <li>限时折扣</li>
                            <li>预售</li>
                            <li>试用</li>
                            <li>直降</li>
                            <li>商品组合</li>
                            <li>满减</li>
                            <li>满折</li>
                            <li>满赠</li>
                            <li>注册促销</li>
                            <li>包邮</li>
                            <li>优惠券</li>
                            <li>平台红包</li>
                            <li>签到</li>
                            <li>拼团</li>
                            <li>积分商城</li>
                            <li>积分折扣</li>
                            <li>社区团购</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="floor04">
        <div class="container">
            <div class="floor_title">
                <p class="title">商城UI是什么样的?</p>
                <p>从商城前台、APP版、移动版乃至PC商城后台界面，追求极致用户体验</p>
            </div>
            <div class="page">
                <div class="slide_box">
                    <div class="hd">
                        <ul class="hd_title">
                            <li class="floor04_title">商城前台</li>
                            <li class="floor04_title">IOS/Android</li>
                            <li class="floor04_title">微信商城</li>
                            <li class='floor04_title'>小程序商城</li>
                            <li class="floor04_title">商家端APP</li>
                            <li class="floor04_title">商城后台</li>
                            <li class="floor04_title">商家后台</li>
                        </ul>
                    </div>
                    <div class="bd">
                        <div class="img_box_page">
                            <img src="../../../static/images/ui01.jpg" alt="">
                            <img src="../../../static/images/ui02.jpg" alt="">
                            <img src="../../../static/images/ui03.jpg" alt="">
                            <img src="../../../static/images/ui04.jpg" alt="">
                        </div>
                        <div class="img_box_app">
                            <img src="../../../static/images/ui05.jpg" alt="">
                            <img src="../../../static/images/ui06.jpg" alt="">
                            <img src="../../../static/images/ui07.jpg" alt="">
                            <img src="../../../static/images/ui08.jpg" alt="">
                            <img src="../../../static/images/ui09.jpg" alt="">
                        </div>
                        <div class="img_box_app">
                            <img src="../../../static/images/ui18.jpg" alt="">
                            <img src="../../../static/images/ui19.jpg" alt="">
                            <img src="../../../static/images/ui20.jpg" alt="">
                            <img src="../../../static/images/ui21.jpg" alt="">
                            <img src="../../../static/images/ui22.jpg" alt="">
                        </div>
                        <div class="img_box_app">
                            <img src="../../../static/images/ui23.jpg" alt="">
                            <img src="../../../static/images/ui24.jpg" alt="">
                            <img src="../../../static/images/ui25.jpg" alt="">
                            <img src="../../../static/images/ui26.jpg" alt="">
                            <img src="../../../static/images/ui27.jpg" alt="">
                        </div>
                        <div class="img_box_app">
                            <img src="../../../static/images/ui32.jpg" alt="">
                            <img src="../../../static/images/ui33.jpg" alt="">
                            <img src="../../../static/images/ui34.jpg" alt="">
                            <img src="../../../static/images/ui35.jpg" alt="">
                            <img src="../../../static/images/ui36.jpg" alt="">
                        </div>
                        <div class="img_box_page">
                            <img src="../../../static/images/ui14.jpg" alt="">
                            <img src="../../../static/images/ui15.jpg" alt="">
                            <img src="../../../static/images/ui16.jpg" alt="">
                            <img src="../../../static/images/ui17.jpg" alt="">
                        </div>
                        <div class="img_box_page">
                            <img src="../../../static/images/ui28.jpg" alt="">
                            <img src="../../../static/images/ui29.jpg" alt="">
                            <img src="../../../static/images/ui30.jpg" alt="">
                            <img src="../../../static/images/ui31.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sem_floor">
        <div class="container clearfix">
            <div class="floor_title">
                <p class="title">转型互联网，直达所需</p>
            </div>
            <div class="sem_main"> <img src="http://images.lecshop.cn/website/images/sem_img01.png" alt="" />
                <ul>
                    <li><span class="orange">全渠道</span>发展互联网营销模式</li>
                    <li>PC\APP\微信\自媒体，互联网流量渠道一站拥有</li>
                </ul>
            </div>
            <div class="sem_main"> <img src="http://images.lecshop.cn/website/images/sem_img02.png" alt="" />
                <ul>
                    <li><span class="orange">独立</span>于第三方平台，营销自由，自建会员体系</li>
                    <li>营销收益都是我的，花出去的钱看得到效果</li>
                </ul>
            </div>
            <div class="sem_main"> <img src="http://images.lecshop.cn/website/images/sem_img03.png" alt="" />
                <ul>
                    <li><span class="orange">定制化</span>设计，全面彰显品牌特性</li>
                    <li>与众不同，用户才能记住你</li>
                </ul>
            </div>
            <div class="sem_main"> <img src="http://images.lecshop.cn/website/images/sem_img04.png" alt="" />
                <ul>
                    <li><span class="orange">低成本</span>，让中小型企业快速互联网化</li>
                    <li>最好的不一定是最贵的，专注电商是初心</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="floor02"
        style="background: url('../../../static/images/sem_bg.jpg') no-repeat top center">
        <div class="container clearfix" style="width:1100px">
            <div class="floor_title floor_w">
                <p class="title">为什么选择我们</p>
                <p>成熟的产品，先进的技术，专业的团队，为您提供优质的产品及专业的服务</p>
            </div>
            <div class="advantage_box"> <img src="../../../static/images/advantage_pic01.jpg"
                    width="100%" alt="" />
                <ul>
                    <li class="title">成熟的产品</li>
                    <li>全线<span class="orange">成熟的</span>电商产品，构建一站式电商解决方案，降低客户成本</li>
                </ul>
            </div>
            <div class="advantage_box"> <img src="../../../static/images/advantage_pic02.jpg"
                    width="100%" alt="" />
                <ul>
                    <li class="title">先进的技术</li>
                    <li>采用<span class="orange">JAVA</span>技术进行分层开发，选用目前主流的MVC开发方式</li>
                </ul>
            </div>
            <div class="advantage_box"> <img src="../../../static/images/advantage_pic03.jpg"
                    width="100%" alt="" />
                <ul>
                    <li class="title">专业的团队</li>
                    <li>来自<span class="orange">苏宁易购</span>的精英技术团队，凭借优质的服务、倍受客户青睐</li>
                </ul>
            </div>
            <div class="advantage_box"> <img src="../../../static/images/advantage_pic04.jpg"
                    width="100%" alt="" />
                <ul>
                    <li class="title">完善的服务</li>
                    <li><span class="orange">精英客服团队</span>，凭借优质的服务、创新进取的精神、倍受客户青睐</li>
                </ul>
            </div>
        </div>
    </div>


    <div class="clearfix" style="float:left; width: 100%; background: #232529">
            <div class="container contact clearfix" style="clear:both">
              <div class="contact_text">
                <p>软件企业编号：苏R-2016-0055&nbsp;&nbsp;&nbsp;&nbsp;高新技术企业编号：GR201643000270</p>
                <p>软件产品编号：苏DGY-2016-0155&nbsp;&nbsp;&nbsp;&nbsp;软件著作权登记号：2017SR153214 2017SR149924 2017SR154030</p>
                <p>售前电话：025-58830029</p>
                <p>公司地址：江苏省南京市雨花客厅3栋306</p>
              </div>
              <div class="contact_qr">关注我们<br/>
                <br/>
                <img src="../../../static/images/qr_code.png" width="129" height="129" alt=""/></div>
            </div>
          </div>
</body>
<script>
    jQuery(".slide_box").slide();
</script>

</html>