<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="/static/css/product_list.css"/>
</head>
<body>
<p>
    <a href="/product/change_info">返回个人信息</a>
</p>
<p>
    <a href="/product/all">返回商品列表</a>
</p>
{{ info }}
<div class="list">
    <div class="a">
        {% if unpaid_ul %}
            <ul style="border: none;">
            {% for li in unpaid_ul %}
              <li style="overflow:hidden;">
                <img src= {{ li.product.pic_url }}>
                <span><p class="product_name">{{ li.product.product_name }}</p></span>
                <p class="price">
                    <span>{{ li.product.product_price }}</span>
                    <span style="color: red;margin-left: 10px;">未购买</span>
                </p>
                <p style="margin-top:5px;">
                    <span><a href="/product/{{ li.product.product_id }}">查看详情</a></span>
                    <span><a href="/product/order_buy/{{ li.order_id }}">点击购买</a></span>
                </p>
                <p>
                    <span style="margin-left: 30px;"><a href="/product/order_delete/{{ li.order_id }}">取消订单</a></span>
                </p>
{#                <span><p>{{ info }}</p></span>#}
              </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="a">
        {% if paid_ul %}
            <ul style="border: none;">
            {% for li in paid_ul %}
              <li style="overflow:hidden;">
                <img src= {{ li.product.pic_url }}>
                <span><p class="product_name">{{ li.product.product_name }}</p></span>
                <p class="price">
                    <span>{{ li.product.product_price }}</span>
                    <span style="margin-left: 10px;">已购买</span>
                </p>
                <p style="margin-top:10px;">
                    <span ><p><a href="/product/{{ li.product.product_id }}">查看详情</a></p></span>
                </p>
              </li>
            {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
</body>
</html>