<!DOCTYPE html>
<html>
<head>

    <title></title>
    <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
    <meta charset="utf-8">
    <style>
        html, body {
            width:100%;
            height:100%;
            margin:0px;
            padding:0px;
            overflow:hidden;
        }
        div{
            text-align: center;
            margin-top: 15px;
        }
    </style>
    <script src="/static/js/mycommon.js"></script>
        

</head>
<body  style="background-color: white;">
<div id="game"><a href="all" name="novel" onclick="set('novel')">小说游戏</a>
</div>
<div><a href="all" name="car" onclick="set('car')">赛车游戏</a></div>

<div><a href="all" name="football" onclick="set('football')">足球游戏</a></div>

<div><a href="all" name="erget" onclick="set('erget')">demo游戏</a></div>

<div><a href="all" name="rpg" onclick="set('rpg')">rpg游戏</a></div>

<div>
<a href="share">游戏直播</a>

</div>

</body>
<script>
　　function set(name) {
　　　　//由于是一个新的技术，你可以通过下面的代码检测你的浏览器是否支持
　　　　if (window.localStorage) {
　　　　//存储变量的值
                localStorage.name = name;
　　　　　　      location.href = './recordrtc_demo.html';　
　　　　} else {
　　　　　　alert("NOT SUPPORT");
　　　　}
　　}
</script>
</html>