<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们</title>

    <link rel="icon" href="../../../static/favicon.ico" />
    <link href="../../../static/css/about.css" rel="stylesheet" type="text/css">
    <link href="../../../static/css/css.css" rel="stylesheet" type="text/css">

    <script src="../../../static/js/jquery-1.11.3.min.js"></script>
    <script src="../../../static/js/common.js"></script>
</head>
<body>


<div class="TOP" style="border-bottom:solid 1px #eee">
  <div class="one TOP">
    <div class="logo"><a href="../../index"><img src="../../../static/images/logo.png" alt=""/></a></div>
    <div class="box">
      <p class="nav_btn">售前热线：025-58830029</p>
      <p style="text-align: center; color: #aaa; line-height: 28px">周一至周五9:00-18:00</p>
    </div>
    <ul class="nav">
      <li><a href="/index">首页</a></li>
      <li> <a class="nav_more" href="../../product">产品</a>
        <div class="more_box" style="border-bottom:solid 1px #eee">
          <div class="one TOP">
            <div class="main TOP"> <a href="../../../b2c.jsp">
              <p class="b2c">单用户商城</p>
              <p class="t1">跟随消费者节奏，打造独一无二的B2C商城</p>
            </a> <a href="">
              <p class="bbc">多用户商城</p>
              <p class="t1">为企业打造类似京东、天猫的电子商务平台的B2B2C多用户商城系统</p>
            </a> <a href="">
              <p class="o2o">iOS/Android手机商城</p>
              <p class="t1">为用户提供交互式可视化的购物体验</p>
            </a> <a href="">
              <p class="o2o">H5手机商城</p>
              <p class="t1">与微信完美结合,轻松搭建微信商城</p>
            </a> <a href="">
              <p class="o2o">电商O2O</p>
              <p class="t1">帮助传统连锁企业打通线上线下，实现网上和门店一体化营销解决方案</p>
            </a> <a href="">
              <p class="b2b">B2B分销</p>
              <p class="t1">面向品牌商或分销商，打造网上批发市场</p>
            </a> <a href="">
              <p class="b2b">B2B2B多供货商分销</p>
              <p class="t1">整合上游供应，管理下游分销，实现批发订货业务的全周期管理</p>
            </a> </div>
          </div>
        </div>
      </li>
      <li> <a class="nav_more solution" href="javascript:;">解决方案</a>
        <div class="more_box">
        <div class="one TOP">
          <ul class="sol_list">
            <li><a href="solutions_cross.jsp" title="跨境电商解决方案">
              <div class="fll"><img src="../../../static/images/solutions_img01.jpg" alt="跨境电商解决方案"/></div>
              <div class="sol_text">
                <p>跨境电商解决方案</p>
                <p>跨境业务流通、全网会员营销、全渠道统一管理的一站式跨境电商解决方案</p>
              </div>
            </a></li>
            <li><a href="solutions_agriculture.jsp" title="农业电商解决方案">
              <div class="fll"><img src="../../../static/images/solutions_img02.jpg" alt="农业电商解决方案"/></div>
              <div class="sol_text">
                <p>农业电商解决方案</p>
                <p>支持”自营+商家入驻模式“来迅速扩充工业和农产品品类</p>
              </div>
            </a></li>
            <li><a href="solutions_jiaju.jsp" title="家居行业解决方案">
              <div class="fll"><img src="../../../static/images/solutions_img03.jpg" alt="家居行业解决方案"/></div>
              <div class="sol_text">
                <p>家居行业解决方案</p>
                <p>线上与线下深度融合、相互引导，实现体验闭环</p>
              </div>
            </a></li>
            <li><a href="solutions_car.jsp" title="汽配行业解决方案">
              <div class="fll"><img src="../../../static/images/solutions_img10.jpg" alt="汽配行业解决方案"/></div>
              <div class="sol_text">
                <p>汽配行业解决方案</p>
                <p>线上+线下相结合，加速零售模式转型、电商落地</p>
              </div>
            </a></li>
            <li><a href="solutions_kxp.jsp" title="快消品行业解决方案">
              <div class="fll"><img src="../../../static/images/solutions_img11.jpg" alt="快消品行业解决方案"/></div>
              <div class="sol_text">
                <p>快消品行业解决方案</p>
                <p>通过互联网工具优化业务流程、提升运转效率，帮助零售终端轻松管理</p>
              </div>
            </a></li>
            <li><a href="solutions_xls.jsp" title="新零售业务解决方案">
              <div class="fll"><img src="../../../static/images/solutions_img12.jpg" alt="新零售业务解决方案"/></div>
              <div class="sol_text">
                <p>新零售业务解决方案</p>
                <p>有效结合移动社交流量、门店流量、抢占线上线下市场</p>
              </div>
            </a></li>
            <li style="border:0"><a href="solutions_medicine.jsp" title="医药行业解决方案">
              <div class="fll"><img src="../../../static/images/solutions_img07.jpg" alt="医药行业解决方案"/></div>
              <div class="sol_text">
                <p>医药行业解决方案</p>
                <p>多渠道统一在线销售，结合分布式门店协同和商客关系持久经营的O2O业务</p>
              </div>
            </a></li>
            <li style="border:0"><a href="solutions_circulation.jsp" title="专业市场特征的流通电商">
              <div class="fll"><img src="../../../static/images/solutions_img08.jpg" alt="专业市场特征的流通电商"/></div>
              <div class="sol_text">
                <p>专业市场流通电商</p>
                <p>针对传统的专业市场，提供开展多商家多店铺特征电商业务的系统解决方案</p>
              </div>
            </a></li>
            <li style="border:0"><a href="solutions_Integrated_commercial.jsp" title="综合商业体电商解决方案">
              <div class="fll"><img src="../../../static/images/solutions_img09.jpg" alt="综合商业体电商解决方案"/></div>
              <div class="sol_text">
                <p>综合商业体电商</p>
                <p>充分展现消费者动员能力，持续开展以综合商业体为核心的客户忠诚度管理</p>
              </div>
            </a></li>
          </ul>
        </div>
      </div>
      </li>
      <li><a href="../tec/tec">技术架构</a></li>
      <li><a class="cur" href="">关于我们</a></li>
    </ul>
  </div>
</div>


    <div class="div1">
  <div class="title">
    <p class="">LecShop简介</p>
  </div>
  <div class="div2">
    <p><img  src="../../../static/images/index01_pic02.jpg" width="477px"
             style="float:left;margin-left:100px;margin-right:40px"
             height="222px"
             alt=""/></p>
    <p >江苏乐商信息科技有限公司是专业服务于传统企业转型的平台化解决方案提供商，获得北京高维创业岛(成立于2004年)
      的注资，为高维创业岛电商子公司和研发运营中心。高维创业岛定位为传统企业转型加速器，致力于为陷入增长瓶颈的传统企业提供转型升级的加速服务，提供“平台化、金融化、合规化”三个维度的专业服务，帮助传统企业逐步转型为具有平台实现能力和产业创新能力的新型互联网企业。高维创业岛起源于中新天津生态城，是国家科技部火炬中心审核通过的国家级众创空间，也是全国高校创新创业联盟副理事长单位。目前已经发展成为以北京为管理核心，南京为研发中心，天津、青岛、厦门、成都、宁波、芜湖等为运营基地的覆盖全国战略格局，至今已经为10000+家企业提供电商咨询，实施和IT解决方案。</p>
  </div>
  <ul class="url1">
    <li class="li" >除自身拥有的咨询、交付、研发力量，LecShop还依托高维创业岛强大的资源，从超过300
      名经验丰富的各类专家资源、咨询顾问、实施顾问及技术工程师中挑选适合客户要求的团队为客户提供全面的服务。因此，江苏乐商信息科技有限公司已经成为国内最大的本土解决方案提供商，致力于成为企业业务转型和企业管理提升、企业电商和企业O2O落地解决方案的最佳长期伙伴。</li>
    <li class="li">LecShop秉承着“促进传统企业电商转型”的理念，专注于电子商务软件的研发，为传统企业及平台电商提供电子商务系统和解决方案及相关增值服务。</li>
    <li class="li">LecShop作为中国电子商务软件及服务的行业领跑者，凭借优质的服务、创新进取的精神、专业的团队倍受客户青睐。创立至今，已经获得"
      双软认证"软件企业、"双软认证"软件产品殊荣。LecShop在优化自身产品与服务的同时，不断加强与"淘宝、支付宝、财付通、腾讯微信、百度、阿里云、蚂蚁金服、万网、中国移动、Dell、Intel等众多业内知名企业合作。</li>
  </ul>
</div>
<div class="photo2">
  <div class="div3">
    <p class="title">LecShop大事记</p>
    <div><img src="../../../static/images/dsj_img.png" width="1000px" height="270px" alt=""/></div>
  </div>
</div>
<div class="">
  <div class="div4">
    <p class="title">企业荣誉</p>
    <ul class="photos">
      <li>
        <p><img src="../../../static/images/ry1.png" width="200px" height="133px" alt=""/></p>
        <p>电商优秀行业电商应用案例奖</p>
      </li>
      <li>
        <p><img src="../../../static/images/ry2.png" width="200px" height="133px" alt=""/></p>
        <p>阿里云+云服务渠道商</p>
      </li>
      <li>
        <p><img src="../../../static/images/ry3.png" width="200px" height="133px" alt=""/></p>
        <p>最佳系统解决方案服务商</p>
      </li>
      <li>
        <p><img src="../../../static/images/ry4.jpg" width="200px" height="133px" alt=""/></p>
        <p>思路电商服务年度风云奖</p>
      </li>
      <li>
        <p><img src=".../../../static/images/ry5.jpg" height="133px" alt=""/></p>
        <p>优秀电子商务系统服务商</p>
      </li>
      <li>
        <p><img src="../../../static/images/ry6.jpg" width="200px" height="133px" alt=""/></p>
        <p>中国移动电商最佳解决方案奖</p>
      </li>
      <li>
        <p><img src="../../../static/images/ry7.png" width="200px" height="133px" alt=""/></p>
        <p>阿里云优秀合作伙伴</p>
      </li>
      <li>
        <p><img src="../../../static/images/ry8.jpg" width="200px" height="133px" alt=""/></p>
        <p>中国电子商务金砖奖</p>
      </li>
    </ul>
  </div>
</div>
<div class="clearfix" style="float:left; width: 100%; background: #232529">
        <div class="container contact clearfix" style="clear:both">
            <div class="contact_text">
                <p>软件企业编号：苏R-2016-0055&nbsp;&nbsp;&nbsp;&nbsp;高新技术企业编号：GR201643000270</p>
                <p>软件产品编号：苏DGY-2016-0155&nbsp;&nbsp;&nbsp;&nbsp;软件著作权登记号：2017SR153214 2017SR149924 2017SR154030</p>
                <p>售前电话：025-58830029</p>
                <p>公司地址：北京市达内教育python中心</p>
            </div>
            <div class="contact_qr">关注我们<br />
              <div><a href="danmu">意见或建议</a></div>
                <br />
                <img src="../../../static/images/qr_code.png" width="129" height="129" alt="" /></div>
        </div>
    </div>
    <!-- 页脚 -->
    <div class="footer">© Copyright 2016 LecShop 网店系统 商城系统 微信商城系统 分销系统 江苏乐商信息科技有限公司版权所有 | <a
            href="http://www.beian.miit.gov.cn" target="_blank" style="color: #fff">苏ICP备16012749号</a></div>

    <!-- 右下角弹窗 -->
    <div class="main-im">
        <div class="open-im">&nbsp;</div>
        <div class="im_main">
            <div class="close-im"><a href="javascript:void(0);" title="点击关闭">&nbsp;</a></div>

            <a href="../index/games" class="im-qq qq-a" title="在线客服" target="_blank">
                <div class="qq-container"></div>
                <div class="qq-hover-c"><img class="img-qq" src="../../../static/images/kefu.png">
                </div>
                <span> 在线咨询</span>
            </a>
            <div class="im-tel">
                <div>咨询热线</div>
                <div class="tel-num">025-58830029</div>
            </div>
            <div class="im-footer" style="position:relative">
                <div class="weixing-container">
                    <div class="weixing-show">
                        <div class="weixing-txt">微信扫一扫<br>
                            获取更多信息
                        </div>
                        <img class="weixing-ma" src="../../../static/images/qr_code.png">
                        <div class="weixing-sanjiao"></div>
                        <div class="weixing-sanjiao-big"></div>
                    </div>
                </div>
                <div class="go-top"><a href="javascript:;" title="返回顶部"></a></div>
                <div style="clear:both"></div>
            </div>
        </div>
    </div>


</body>
</html>