<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>表单</title>
</head>
<body style="background:#f5f5f5">
<link rel="icon" href="/static/favicon.ico" />
<link href="/static/css/css.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/common.js"></script>


<div class="reg_box clearfix">
  <div class="reg_logo"><img src="/static/images/logo.png" alt=""/><br/>
    免费申请试用,试用有礼</div>
  <ul class="reg_main" style="width: 333px">
    <li style="height: 57px">
      <input type="text" id="mobilenum" placeholder="手机号码">
      <div class="error_tip" id="mobilenumerror" style="display: none;">您输入的手机号码不正确</div>
    </li>
      <li style="height: 57px">
          <p style="height: 42px;">
              <input type="text" id="kaptcha" placeholder="验证码" style=" width: 200px; ">
              <img src="" alt="点击刷新" onclick="changeVerifyCode()" id="yzmImg" style="width: 100px; height: 42px; margin-left: 10px; cursor: pointer;">
          </p>
          <div class="error_tip" style="display: none;line-height: 30px" id="kaptchaerror">您输入的验证码不正确</div>
      </li>
    <li style="height: 57px">
      <input id="smscode" type="text" placeholder="短信验证码"><a id="sendsms" class="code_btn" onclick="sendSMS();" href="javascript:;">获取验证码</a><span class="code_btn" id="ss" style="color: #ccc;display: none;">30秒后重发</span>
      <div class="error_tip" style="display: none;" id="smscodeerror">您输入的验证码不正确</div>
    </li>
    <li>
      <input class="reg_btn" onclick="registerSub();" type="submit" value="确认提交">
    </li>
  </ul>
</div>
    <div class="footer">© Copyright 2016 LecShop 网店系统 商城系统 微信商城系统 分销系统 江苏乐商信息科技有限公司版权所有 | <a href="http://www.beian.miit.gov.cn/" target="_blank" style="color: #fff">苏ICP备16012749号</a></div>

<script type="text/javascript" src="//api.map.sogou.com/maps/js/api_v2.5.1.js"></script>
<script type="text/javascript">
var img_list=[{'7364':'/static/images/solutions/YZ1.jpeg'},{'K4P8':'/static/images/solutions/YZ2.jpeg'},{'VWO7':'/static/images/solutions/YZ3.jpeg'}]

  function changeVerifyCode(){
    window.img = img_list[Math.floor(Math.random()*img_list.length)]
    document.getElementById('yzmImg').src = Object.values(img)
    console.log(Object.values(img))
  }
//mobilenum(手机号码) kaptcha（验证码） smscode（短信验证码）
    function registerSub(){
      var mobilenum = $("#mobilenum").val();
      console.log(mobilenum);
      var kaptcha = $("#kaptcha").val();
      var smscode = $("#smscode").val();
      var data = {'mobilenum':mobilenum,'kaptcha':kaptcha,'smscode':smscode}
      var a = true
      var b = true
      var c = true
        if(mobilenum==null){
            $("#mobilenumerror").html("您输入的手机号码不正确");
            $("#mobilenumerror").show();
            a = false
        }
        if(kaptcha != Object.keys(img)){
          console.log(Object.keys(img))
            $("#smscodeerror").html("验证码有误!");
            $("#smscodeerror").show();
            b = false
        }
        if(smscode==null){
            $("#smscodeerror").html("验证码只能为数字!");
            $("#smscodeerror").show();
            c = false
        }
        if(a==true && b ==true && c==true){
          $.ajax({
              type:'post',
              contentType:'application/json',
              url:'http://127.0.0.1:8000/soluation/server',
              data:JSON.stringify(data),
              beforeSend:function (request) {
                  request.setRequestHeader(mobilenum,kaptcha,smscode);
              },
              success:function (result) {
                  if(result.code == 200){
                      alert('提交成功点击返回');
                      window.location.href = '/index/';
                  }else {
                      alert(result.error)
                  }
              }
          })
        }
    }
</script>
</body>
</html>