
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>农村电商解决方案_乐商LecShop</title>
<link rel="icon" href="/static/favicon.ico" />
<link href="/static/css/products.css" rel="stylesheet" type="text/css">
<link href="/static/css/solution.css" rel="stylesheet" type="text/css">
{#<link href="/static/css/agri_solution.css" rel="stylesheet" type="text/css">#}
<link href="/static/css/css.css" rel="stylesheet" type="text/css">
<link href="/static/css/agri_solution.css" type="text/css" rel="stylesheet">
{#<script src="/static/js/jquery.SuperSlide.2.1.1.js"></script>#}
{#<script src="/static/js/jquery.slides.min.js"></script>#}
  <style>
    .ssssssss{
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: solid 0px black;
      background-color: rgba(128, 128, 128,0.5);
      /* opacity: 0.5; */
    }
    .sougou{
      position: fixed;
      left: 27%;
      top: 21%;
      width: 600px;
      height: 400px;
      border: solid 10px black;
      background-color: #000000;
      z-index: 2;
    }
</style>
</head>

<body>
  <div class="header">
    <div class="container clearfix">
      <div class="logo"><a href=""><img src="/static/images/solutions/logo.png" alt="没找到" /></a></div>
      <div class="nav_btn_box">
        <p class="nav_btn">售前热线：025-58830029</p>
        <p style="text-align: center; color: #aaa; line-height: 28px">周一至周五9:00-18:00</p>
      </div>
      <ul class="nav">
        <li><a href="">首页</a></li>
        <li> <a class="nav_more" href="javascript:;">产品</a>
          <div class="more_box">
            <div class="container clearfix">
              <div class="more_main clearfix"> <a href="">
                  <p class="b2c">单用户商城</p>
                  <p class="more_text">跟随消费者节奏，打造独一无二的B2C商城</p>
                </a> <a href="">
                  <p class="bbc">多用户商城</p>
                  <p class="more_text">为企业打造类似京东、天猫的电子商务平台的B2B2C多用户商城系统</p>
                </a> <a href="">
                  <p class="o2o">iOS/Android手机商城</p>
                  <p class="more_text">为用户提供交互式可视化的购物体验</p>
                </a> <a href="">
                  <p class="o2o">H5手机商城</p>
                  <p class="more_text">与微信完美结合,轻松搭建微信商城</p>
                </a> <a href="">
                  <p class="o2o">电商O2O</p>
                  <p class="more_text">帮助传统连锁企业打通线上线下，实现网上和门店一体化营销解决方案</p>
                </a> <a href="">
                  <p class="b2b">B2B分销</p>
                  <p class="more_text">面向品牌商或分销商，打造网上批发市场</p>
                </a> <a href="">
                  <p class="b2b">B2B2B多供货商分销</p>
                  <p class="more_text">整合上游供应，管理下游分销，实现批发订货业务的全周期管理</p>
                </a> </div>
            </div>
          </div>
        </li>
        <li> <a class="nav_more solution cur" href="javascript:;">解决方案</a>
          <div class="more_box">
            <div class="container clearfix">
              <ul class="sol_list">
                <li><a href="" title="跨境电商解决方案">
                    <div class="fll"><img src="/static/images/solutions_img01.jpg" alt="跨境电商解决方案" /></div>
                    <div class="sol_text">
                      <p>跨境电商解决方案</p>
                      <p>跨境业务流通、全网会员营销、全渠道统一管理的一站式跨境电商解决方案</p>
                    </div>
                  </a></li>
                <li><a href="" title="农业电商解决方案">
                    <div class="fll"><img src="/static/images/solutions_img02.jpg" alt="农业电商解决方案" /></div>
                    <div class="sol_text">
                      <p>农业电商解决方案</p>
                      <p>支持”自营+商家入驻模式“来迅速扩充工业和农产品品类</p>
                    </div>
                  </a></li>
                <li><a href="" title="家居行业解决方案">
                    <div class="fll"><img src="/static/images/solutions_img09.jpg" alt="家居行业解决方案" /></div>
                    <div class="sol_text">
                      <p>家居行业解决方案</p>
                      <p>线上与线下深度融合、相互引导，实现体验闭环</p>
                    </div>
                  </a></li>
                <li><a href="" title="汽配行业解决方案">
                    <div class="fll"><img src="/static/images/solutions_img10.jpg" alt="汽配行业解决方案" /></div>
                    <div class="sol_text">
                      <p>汽配行业解决方案</p>
                      <p>线上+线下相结合，加速零售模式转型、电商落地</p>
                    </div>
                  </a></li>
                <li><a href="" title="快消品行业解决方案">
                    <div class="fll"><img src="/static/images/solutions_img11.jpg" alt="快消品行业解决方案" /></div>
                    <div class="sol_text">
                      <p>快消品行业解决方案</p>
                      <p>通过互联网工具优化业务流程、提升运转效率，帮助零售终端轻松管理</p>
                    </div>
                  </a></li>
                <li><a href="" title="新零售业务解决方案">
                    <div class="fll"><img src="/static/images/solutions_img12.jpg" alt="新零售业务解决方案" /></div>
                    <div class="sol_text">
                      <p>新零售业务解决方案</p>
                      <p>有效结合移动社交流量、门店流量、抢占线上线下市场</p>
                    </div>
                  </a></li>
                <li style="border:0"><a href="" title="医药行业解决方案">
                    <div class="fll"><img src="/static/images/solutions_img03.jpg" alt="医药行业解决方案" /></div>
                    <div class="sol_text">
                      <p>医药行业解决方案</p>
                      <p>多渠道统一在线销售，结合分布式门店协同和商客关系持久经营的O2O业务</p>
                    </div>
                  </a></li>
                <li style="border:0"><a href="" title="专业市场特征的流通电商">
                    <div class="fll"><img src="/static/images/solutions_img07.jpg" alt="专业市场特征的流通电商" /></div>
                    <div class="sol_text">
                      <p>专业市场流通电商</p>
                      <p>针对传统的专业市场，提供开展多商家多店铺特征电商业务的系统解决方案</p>
                    </div>
                  </a></li>
                <li style="border:0"><a href="" title="综合商业体电商解决方案">
                    <div class="fll"><img src="/static/images/solutions_img08.jpg" alt="综合商业体电商解决方案" /></div>
                    <div class="sol_text">
                      <p>综合商业体电商</p>
                      <p>充分展现消费者动员能力，持续开展以综合商业体为核心的客户忠诚度管理</p>
                    </div>
                  </a></li>
              </ul>
            </div>
          </div>
        </li>
        <li><a href="">技术架构</a></li>
        <li><a href="">关于我们</a></li>
      </ul>
    </div>
  </div>

  <div class="agriculture">
  <div class="cross">
    <div class="banner t-c">
      <h1>农村电商解决方案</h1>
      <a href="http://127.0.0.1:8000/soluation/reg" class="order" >立即免费体验</a> </div>
    <div class="main1">
      <div class="main-title t-c">下一个蓝海&nbsp尽在<font style="color:#00B044;font-weight:bold">农村电商</font></div>
    </div>
    <div class="main2">
      <div class="main-title t-c">城市、农村<font style="color:#00B044;font-weight:bold">资源对接</font>是农村电商的主旋律</div>
    </div>
    <div class="main3">
      <div class="main-title t-c">农村电商曾填过的坑还一直在<font style="color:#FFFFFF;font-weight:bold">困扰</font>着我们</div>
    </div>
    <div class="main4">
      <div class="main-title t-c"><font style="color:#00B044;font-weight:bold">双向O2O式</font>农村电商模式设计</div>
    </div>
    <div class="main5">
      <div class="main-title t-c">农村电商解决方案</div>
      <div class="main-info t-c"> 乐商农村电商解决方案依托多用户商城（B2B2C）系统，支持自营/POP商家入驻模式来迅速扩充工业和农产品品类，同时依托系统门店的自提、货到付款等特色服务切合了农户购物需求，是您开启农村电商蓝海市场的不二之选。 </div>
      page slideTxtBox hd clearfix
        <div class="page">
        <div class="slideTxtBox">
          <div class="hd">
            <ul class="clearfix">
              <li id="li1">多元化消费者触点</li>
              <li id="li2">农户互动转化</li>
              <li id="li3">商家自营/入驻</li>
              <li id="li4">大数据运营分析</li>
            </ul>
          </div>
          <div class="bd">
            <div class="clearfix" id="dli1" style="display: none">
              <div class="hd-info fl">
                <p style="color:#FFF">以农村需求为核心，全面构建集PC、WAP、APP、微信于一体的终端设施，切合农村地域特色和农户消费属性，为消费者提供最为贴心的跨屏购物体验。</p>
                <a href="http://127.0.0.1:8000/soluation/reg" class="btn1 order"></a> </div>
            </div>
            <div class="clearfix" id="dli2" style="display: none">
              <div class="hd-info fl">
                <p style="color:#FFF">特色自提功能切实匹配农村特色，有效规避了物流最后一公里的难题；货到付款、多元化支付方式为消费者提供了安全、便捷的购物环境。</p>
                <a href="http://127.0.0.1:8000/soluation/reg" class="btn1 order"></a> </div>
            </div>
            <div class="clearfix" id="dli3" style="display: none">
              <div class="hd-info fl">
                <p style="color:#FFF">买卖家界面分离，为商家提供独立登录界面，保障了系统的高性能；支持自营和商家入驻模式，助力工业品和特色农产品供应商的快速入驻，大大提升平台的竞争力。</p>
                <a href="http://127.0.0.1:8000/soluation/reg" class="btn1 order"></a> </div>
            </div>
            <div class="clearfix" id="dli4" style="display: none">
              <div class="hd-info fl">
                <p style="color:#FFF">以用户为中心，凭借系统强大的数据挖掘和分析能力，聚合农村网民消费数据和农产品需求数据，以更好的释放数据价值，满足平台、商家商业运作时的数据需求和决策参考。</p>
                <a href="http://127.0.0.1:8000/soluation/reg" class="btn1 order"></a> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix" style="float:left; width: 100%; background: #232529">
  <div class="container contact clearfix" style="clear:both">
    <div class="contact_text">
      <p>软件企业编号：苏R-2016-0055&nbsp;&nbsp;&nbsp;&nbsp;高新技术企业编号：GR201643000270</p>
      <p>软件产品编号：苏DGY-2016-0155&nbsp;&nbsp;&nbsp;&nbsp;软件著作权登记号：2017SR153214 2017SR149924 2017SR154030</p>
      <p>售前电话：025-58830029</p>
      <p>公司地址：<a onclick="sougouditu()">江苏省南京市雨花客厅3栋306</a></p>
    </div>
    <div class="contact_qr">关注我们<br/>
      <br/>
      <img src="/static/images/qr_code.png" width="129" height="129" alt=""/></div>
  </div>
</div>
<div class="footer">© Copyright 2016 LecShop 网店系统 商城系统 微信商城系统 分销系统 江苏乐商信息科技有限公司版权所有 | <a href="http://www.beian.miit.gov.cn/" target="_blank" style="color: #fff">苏ICP备16012749号</a></div>
<div class="main-im">
  <div class="open-im">&nbsp;</div>
  <div class="im_main">
    <div class="close-im"><a href="javascript:void(0);" title="点击关闭">&nbsp;</a></div>
    <a href="javascript:;" onclick="openZoosUrl('chatwin');" class="im-qq qq-a" title="在线客服" target="_blank">
      <div class="qq-container"></div>
      <div class="qq-hover-c"><img class="img-qq" src="/static/images/kefu.png"></div>
      <span> 在线咨询</span> </a>
    <div class="im-tel">
      <div>咨询热线</div>
      <div class="tel-num">025-58830029</div>
    </div>
    <div class="im-footer" style="position:relative">
      <div class="weixing-container">
        <div class="weixing-show">
          <div class="weixing-txt">微信扫一扫<br>获取更多信息</div>
          <img class="weixing-ma" src="/static/images/solutions/p1.png">
          <div class="weixing-sanjiao"></div>
          <div class="weixing-sanjiao-big"></div>
        </div>
      </div>
      <div class="go-top"><a href="javascript:;" title="返回顶部"></a> </div>
      <div style="clear:both"></div>
    </div>
  </div>
</div>
<div class="fcallb">
  <div style="width: 800px; margin: 0 auto; text-align: center"> <span style="color: #fff; font-size: 20px; line-height: 70px">免费申请试用,试用有礼</span>
    <a href="http://127.0.0.1:8000/soluation/reg"><input  class="fcallb_btn" type="button" value="点击立即申请"></a>
  </div>
</div>
<div class="floor01" style="height:0">
  <div class="modal-backdrop" class="sougou" property=""></div>
      <div class="reg_logo">免费申请试用,试用有礼</div>
</div>

<div id="kongbai" class="ssssssss" onclick="kongbai()">
  12312332231321
  <div id="map_canvas" class="sougou">
    <!-- 这是搜狗API嵌入的代码 -->
  </div>
</div>
<link href="/static/css/products.css" rel="stylesheet" type="text/css">
<link href="/static/css/solution.css" rel="stylesheet" type="text/css">
<link href="/static/css/agri_solution.css" rel="stylesheet" type="text/css">
<link href="/static/css/css.css" rel="stylesheet" type="text/css">
<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript">
  jQuery(".slideTxtBox").slide();
</script>
<script type="text/javascript" src="//api.map.sogou.com/maps/js/api_v2.5.1.js"></script>
<script>
<script type="text/javascript" src="//api.map.sogou.com/maps/js/api_v2.5.1.js"></script>
<script type="text/javascript">
 /**
  * 加载指定城市区域的地图
  */
  function initialize() {
    var myOptions = {
      zoom: 10,
      center: new sogou.maps.Point(12956000,4824875)
    }
    var map = new sogou.maps.Map(document.getElementById("map_canvas"),
                                  myOptions);
  }

  function sougouditu(){
      $('#kongbai').show()
      var map = new sogou.maps.Map(document.getElementById("map_canvas"),{});
      //click就点击地图后的事件。
      map.setCenter(new sogou.maps.Point(12958328.61328125,4822451.171875),14);
      sogou.maps.event.addListener(_m,"click",function(a){
          alert("我被点了一下！")


      });
  }


  $('#kongbai').click(function(event){
    if(event.target == this){
        $("#kongbai").css("display","none")}
      })



</script>
</body>

</html>