<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>综合商业体电商解决方案-乐商LecShop</title>
    <meta name="keywords" content="综合商业体电商解决方案,电商解决方案">
    <meta name="description"
          content="针对大型综合商业体/购物中心，提供开展多商家多业态特征电商业务的系统解决方案，结合多商家在线销售和多业态互联网自服务应用的平台业务，建立统一会员机制，打造消费者在线沟通能力，实现商客关系的掌控，充分展现消费者动员能力，持续开展以综合商业体为核心的客户忠诚度管理。">
    <link rel="icon" href="/static/images/favicon.ico"/>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/css.css" rel="stylesheet" type="text/css">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/common.js"></script>
</head>

<body>


<!-- Copyright © 2008. Spidersoft Ltd -->
<style>
    A.applink:hover {
        border: 2px dotted #DCE6F4;
        padding: 2px;
        background-color: #ffff00;
        color: green;
        text-decoration: none
    }

    A.applink {
        border: 2px dotted #DCE6F4;
        padding: 2px;
        color: #2F5BFF;
        background: transparent;
        text-decoration: none
    }

    A.info {
        color: #2F5BFF;
        background: transparent;
        text-decoration: none
    }

    A.info:hover {
        color: green;
        background: transparent;
        text-decoration: underline
    }
</style>


<div class="header">
    <div class="container clearfix">
        <div class="logo"><a href="../../index"><img src="/static/images/logo.png" alt=""/></a></div>
        <div class="nav_btn_box">
            <p class="nav_btn">售前热线：025-58830029</p>
            <p style="text-align: center; color: #aaa; line-height: 28px">周一至周五9:00-18:00</p>
        </div>
        <ul class="nav">
            <li><a href="../../index">首页</a></li>
            <li><a class="nav_more" href="../../product">产品</a>
                <div class="more_box">
                    <div class="container clearfix">
                        <div class="more_main clearfix"><a href="b2c.jsp.html">
                            <p class="b2c">单用户商城</p>
                            <p class="more_text">跟随消费者节奏，打造独一无二的B2C商城</p>
                        </a> <a href="bbc.jsp.html">
                            <p class="bbc">多用户商城</p>
                            <p class="more_text">为企业打造类似京东、天猫的电子商务平台的B2B2C多用户商城系统</p>
                        </a> <a href="landingpage_app.jsp.html">
                            <p class="o2o">iOS/Android手机商城</p>
                            <p class="more_text">为用户提供交互式可视化的购物体验</p>
                        </a> <a href="landingpage_h5.jsp.html">
                            <p class="o2o">H5手机商城</p>
                            <p class="more_text">与微信完美结合,轻松搭建微信商城</p>
                        </a> <a href="o2o.jsp.html">
                            <p class="o2o">电商O2O</p>
                            <p class="more_text">帮助传统连锁企业打通线上线下，实现网上和门店一体化营销解决方案</p>
                        </a> <a href="b2b.jsp.html">
                            <p class="b2b">B2B分销</p>
                            <p class="more_text">面向品牌商或分销商，打造网上批发市场</p>
                        </a> <a href="b2b_multi.jsp.html">
                            <p class="b2b">B2B2B多供货商分销</p>
                            <p class="more_text">整合上游供应，管理下游分销，实现批发订货业务的全周期管理</p>
                        </a></div>
                    </div>
                </div>
            </li>
            <li><a class="nav_more solution cur" href="javascript:;">解决方案</a>
                <div class="more_box">
                    <div class="container clearfix">
                        <ul class="sol_list">
                            <li><a href="solutions_cross.jsp.html" title="跨境电商解决方案">
                                <div class="fll"><img src="/static/images/solutions_img01.jpg" alt="跨境电商解决方案"/></div>
                                <div class="sol_text">
                                    <p>跨境电商解决方案</p>
                                    <p>跨境业务流通、全网会员营销、全渠道统一管理的一站式跨境电商解决方案</p>
                                </div>
                            </a></li>

                            <li><a href="/soluation/conten1" title="农业电商解决方案">
                                <div class="fll"><img src="/static/images/solutions_img02.jpg" alt="农业电商解决方案"/></div>
                                <div class="sol_text">
                                    <p>农业电商解决方案</p>
                                    <p>支持”自营+商家入驻模式“来迅速扩充工业和农产品品类</p>
                                </div>
                            </a></li>
                            <li><a href="solutions_jiaju.jsp.html" title="家居行业解决方案">
                                <div class="fll"><img src="/static/images/solutions_img09.jpg" alt="家居行业解决方案"/></div>
                                <div class="sol_text">
                                    <p>家居行业解决方案</p>
                                    <p>线上与线下深度融合、相互引导，实现体验闭环</p>
                                </div>
                            </a></li>
                            <li><a href="solutions_car.jsp.html" title="汽配行业解决方案">
                                <div class="fll"><img src="/static/images/solutions_img10.jpg" alt="汽配行业解决方案"/></div>
                                <div class="sol_text">
                                    <p>汽配行业解决方案</p>
                                    <p>线上+线下相结合，加速零售模式转型、电商落地</p>
                                </div>
                            </a></li>
                            <li><a href="solutions_kxp.jsp.html" title="快消品行业解决方案">
                                <div class="fll"><img src="/static/images/solutions_img11.jpg" alt="快消品行业解决方案"/></div>
                                <div class="sol_text">
                                    <p>快消品行业解决方案</p>
                                    <p>通过互联网工具优化业务流程、提升运转效率，帮助零售终端轻松管理</p>
                                </div>
                            </a></li>
                            <li><a href="solutions_xls.jsp.html" title="新零售业务解决方案">
                                <div class="fll"><img src="/static/images/solutions_img12.jpg" alt="新零售业务解决方案"/></div>
                                <div class="sol_text">
                                    <p>新零售业务解决方案</p>
                                    <p>有效结合移动社交流量、门店流量、抢占线上线下市场</p>
                                </div>
                            </a></li>
                            <li style="border:0"><a href="solutions_medicine.jsp.html" title="医药行业解决方案">
                                <div class="fll"><img src="/static/images/solutions_img03.jpg" alt="医药行业解决方案"/></div>
                                <div class="sol_text">
                                    <p>医药行业解决方案</p>
                                    <p>多渠道统一在线销售，结合分布式门店协同和商客关系持久经营的O2O业务</p>
                                </div>
                            </a></li>
                            <li style="border:0"><a href="solutions_circulation.jsp.html" title="专业市场特征的流通电商">
                                <div class="fll"><img src="/static/images/solutions_img07.jpg" alt="专业市场特征的流通电商"/></div>
                                <div class="sol_text">
                                    <p>专业市场流通电商</p>
                                    <p>针对传统的专业市场，提供开展多商家多店铺特征电商业务的系统解决方案</p>
                                </div>
                            </a></li>
                            <li style="border:0"><a href="/soluation/index" title="综合商业体电商解决方案">
                                <div class="fll"><img src="/static/images/solutions_img08.jpg" alt="综合商业体电商解决方案"/></div>
                                <div class="sol_text">
                                    <p>综合商业体电商</p>
                                    <p>充分展现消费者动员能力，持续开展以综合商业体为核心的客户忠诚度管理</p>
                                </div>
                            </a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li><a href="/tec/tec">技术架构</a></li>
            <li><a href="/about/about">关于我们</a></li>
        </ul>
    </div>
</div>
<div class="products-start stscroll">
    <div class="inner">
        <h1>综合商业体电商解决方案 解决方案</h1>
        <h3>方案概述</h3>
        <p> 乐商针对大型综合商业体/购物中心，提供开展多商家多业态特征电商业务的系统解决方案，结合多商家在线销售和多<br>
            业态互联网自服务应用的平台业务，建立统一会员机制，打造消费者在线沟通能力，<br>
            实现商客关系的掌控，充分展现消费者动员能力，持续开展以综合商业体为核心的客户忠诚度管理。 </p>
        <a href="/soluation/register" class="order">立即免费体验</a>
    </div>
    <img src="/static/images/Integrated_commercial/products_start15.jpg"/></div>
<div class="stscroll"></div>
<div class="solution-framework stscroll">
    <div class="inner">
        <h2 class="title">产品框架</h2>
        <div class="cont">
            <p><img src="/static/images/Integrated_commercial/solution_framework11.png"/></p>
        </div>
    </div>
</div>
{#<div class="solution-tongdian blue stscroll">#}
{#    <div class="inner">#}
{#        <h2 class="title">商超电商业务痛点</h2>#}
{#    </div>#}
{#</div>#}
<div class="solution-highlights gray stscroll">
    <div class="inner">
        <h2 class="title">产品亮点</h2>
        <div class="item">
            <div class="lcd left"><img src="/static/images/Integrated_commercial/solution_item11_1.jpg"/></div>
            <div class="intro right">
                <h2>有效管理商客关系，通过大数据分析改善运营决策</h2>
            </div>
        </div>
        <div class="item">
            <div class="lcd right"><img src="/static/images/Integrated_commercial/solution_item11_2.jpg"/></div>
            <div class="intro left">
                <h2>多样化的互联网应用弥补线下不足，<br>
                    构建全面的消费者体验</h2>
            </div>
        </div>
        <div class="item">
            <div class="lcd left"><img src="/static/images/Integrated_commercial/solution_item11_3.jpg"/></div>
            <div class="intro right">
                <h2>在综合商业体运营方组织下的一体化会员机制</h2>
            </div>
        </div>
        <div class="item">
            <div class="lcd right"><img src="/static/images/Integrated_commercial/solution_item11_4.jpg"/></div>
            <div class="intro left">
                <h2>多商家多店铺特征的在线交易</h2>
            </div>
        </div>
        <div class="item">
            <div class="lcd left"><img src="/static/images/Integrated_commercial/solution_item11_5.jpg"/></div>
            <div class="intro right">
                <h2>以消费者沟通为特征的商客互动</h2>
            </div>
        </div>
        <div class="item">
            <div class="lcd right"><img src="/static/images/Integrated_commercial/solution_item11_6.jpg"/></div>
            <div class="intro left">
                <h2>以消费者洞察为特征的会员<br>
                    交易行为分析/客群分析/营销推送</h2>
            </div>
        </div>
        <div class="item">
            <div class="lcd left"><img src="/static/images/Integrated_commercial/solution_item11_7.jpg"/></div>
            <div class="intro right">
                <h2>打通多种社会化应用，<br>
                    具有口碑传播特征的在线营销</h2>
            </div>
        </div>
        <div class="item">
            <div class="lcd right"><img src="/static/images/Integrated_commercial/solution_item11_8.jpg"/></div>
            <div class="intro left">
                <h2>结合多业态特征和消费者实际需要，<br>
                    在电商平台上提供实用查询/交易支付/自服务</h2>
            </div>
        </div>
    </div>
</div>
<div class="solution-opened">
    <div class="inner">
        <h2 class="title">开通只需四步</h2>
        <a href="/soluation/video_player" tppabs="http://www.lecshop.cn/register.html" class="btn order"></a> <img
            src="/static/images/solution_opened.png"/></div>
</div>
<div class="clearfix" style="float:left; width: 100%; background: #232529">
    <div class="container contact clearfix" style="clear:both">
        <div class="contact_text">
            <p>软件企业编号：苏R-2016-0055&nbsp;&nbsp;&nbsp;&nbsp;高新技术企业编号：GR201643000270</p>
            <p>软件产品编号：苏DGY-2016-0155&nbsp;&nbsp;&nbsp;&nbsp;软件著作权登记号：2017SR153214 2017SR149924 2017SR154030</p>
            <p>售前电话：025-58830029</p>
            <p>公司地址：江苏省南京市雨花客厅3栋306</p>
        </div>
        <div class="contact_qr">关注我们<br/>
            <br/>
            <img src="/static/images/qr_code.png" width="129" height="129" alt=""/></div>
    </div>
</div>
<div class="footer">© Copyright 2016 LecShop 网店系统 商城系统 微信商城系统 分销系统 江苏乐商信息科技有限公司版权所有 | <a
        href="http://www.beian.miit.gov.cn/" target="_blank" style="color: #fff">苏ICP备16012749号</a></div>
<div class="main-im">
    <div class="open-im">&nbsp;</div>
    <div class="im_main">
        <div class="close-im"><a href="javascript:void(0);" title="点击关闭">&nbsp;</a></div>
        <a href="javascript:;" onclick="openZoosUrl('chatwin');" class="im-qq qq-a" title="在线客服" target="_blank">
            <div class="qq-container"></div>
            <div class="qq-hover-c"><img class="img-qq" src="/static/images/kefu.png"></div>
            <span> 在线咨询</span> </a>
        <div class="im-tel">
            <div>咨询热线</div>
            <div class="tel-num">025-58830029</div>
        </div>
        <div class="im-footer" style="position:relative">
            <div class="weixing-container">
                <div class="weixing-show">
                    <div class="weixing-txt">微信扫一扫<br>获取更多信息</div>
                    <img class="weixing-ma" src="/static/images/qr_code.png">
                    <div class="weixing-sanjiao"></div>
                    <div class="weixing-sanjiao-big"></div>
                </div>
            </div>
            <div class="go-top"><a href="javascript:;" title="返回顶部"></a></div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(".slideTxtBox").slide();
</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?196e380bec5ec7a9895c52da4dc62100";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>
</body>
</html>
